/* styles304.css */
head {

}

title {
  
}

body {
    background-color: #BCDBA2;
    color: #344e41;
    line-height: 1;
}

h1, h2, p {
    margin: 2;
}

h1 {
    font-size: 2em;
}

h1 {

}

p {

}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Style for indicating which query is being satisfied */
.query-descriptor {
        font-size: small;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* buttons on hover*/
  .tab button:hover {
    background-color: #e9f5db;
  }
  
  /* buttons while active */
  .tab button.active {
    background-color: #cfe1b9;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }